
<mat-tab-group>
    <mat-tab label="Kreis-Diagramm">
        <mat-card class="backgroundColor marginTop">
            <div echarts [options]="chartPieOption" class="demo-chart" [merge]="mergePieOptions"></div>
        </mat-card>  
    </mat-tab>
    <mat-tab label="Welt-Diagramm">
        <mat-card class="backgroundColor marginTop">
            <div echarts [options]="worldOption" class="demo-chart" [merge]="mergeWorldOptions"></div>
        </mat-card>  
    </mat-tab>
    <mat-tab label="Linien-Diagramm"> 
        <mat-card class="backgroundColor marginTop">
            <div echarts [options]="chartLineOption" class="demo-chart" [merge]="mergeLineOptions"></div>
        </mat-card>    
    </mat-tab>
    <mat-tab label="Balken-Diagramm">
        <mat-card class="backgroundColor marginTop">
            <div echarts [options]="chartBarOption" class="demo-bar" [merge]="mergeBarOptions"></div>
        </mat-card>  
    </mat-tab>
  </mat-tab-group>