/* Flex */
.display{
  display: flex !important;
}
.flexColumn{
  flex-direction: column;
}
.flexRow{
  flex-direction: row;
}

.pedding{
  padding-left: 20px;
  padding-right: 20px;
}


/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}


nav a {
  padding: 1rem 3rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #0f172a;
  color: #fff;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #2c3344;
}
nav a.active {
  background-color: #2c3344;
}

.navGap{
  gap: 1em;
}
.navAlign{
  align-items: end;
}

.navBackground{
  background-color: #0f172a;
}

.navHeight {
	height: 100vh;
}


.headerMargin h1{
  margin-top: .5em;
  margin-bottom: .5em;
}

.headerGrow{
  flex-grow: 1;
}
.headerTopBorder{
  
  border-top: 1px solid #0f172a;
}
.headerBoxShadow{
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1); 
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/